.grid {
  display: grid;
  gap: 0.5em;
  grid-auto-columns: 1fr;
  grid-template-areas:
      "one    one   two   five"
      "three  four  four  five";
  color: var(--slate-900);
}

.grid--with-hover {
  position: relative;
}

.grid--with-hover:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../assets/images/grid/grid-template-areas.png') #2b2b2b center;
  background-size: contain;
  background-repeat: no-repeat;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18vh;
  background-color: #dee9ed;
  font-size: 1.5em;
}

.grid > *::before {
  content: var(--areaName);
}

.grid > *:nth-child(1) {
  grid-area: one;
  --areaName: "one";
}

.grid > *:nth-child(2) {
  grid-area: two;
  --areaName: "two";
}

.grid > *:nth-child(3) {
  grid-area: three;
  --areaName: "three";
}

.grid > *:nth-child(4) {
  grid-area: four;
  --areaName: "four";
}

.grid > *:nth-child(5) {
  grid-area: five;
  --areaName: "Five";
}

.grid > .photo {
  grid-area: five;
  --areaName: "";
  background-image: url('../assets/images/malta/1.jpg');
  background-size: cover;
  background-position: center;
}

/** Photo in area ONE **/
.grid--photo-area-one > .photo {
  grid-area: one;
}

.grid--photo-area-one > *:nth-child(1) {
  grid-area: five;
  --areaName: "five";
}

/** Photo in area TWO **/
.grid--photo-area-two > .photo {
  grid-area: two;
}

.grid--photo-area-two > *:nth-child(2) {
  grid-area: five;
  --areaName: "five";
}

/** Photo in area THREE **/
.grid--photo-area-three > .photo {
  grid-area: three;
}

.grid--photo-area-three > *:nth-child(3) {
  grid-area: five;
  --areaName: "five";
}

/** Photo in area FOUR **/
.grid--photo-area-four > .photo {
  grid-area: four;
}

.grid--photo-area-four > *:nth-child(4) {
  grid-area: five;
  --areaName: "five";
}