@mixin nav-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: inherit;
}

@mixin video ($smallWidth, $largeWidth){
  video {
    object-fit: contain;
    display: block;
    width: 100%;
  }

  &--small {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: inherit;

    video {
      object-position: right;
      width: $smallWidth;
      max-width: 40vw;
    }
  }

  &--large {
    margin-top: 100px;
    width: $largeWidth;

    video {
      object-position: left;
      max-height: 65vh;
    }
  }
}