.typing-animation-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: inherit;
}

.typing-animation__video {
  view-transition-name: video;

  video {
    display: block;
    width: 100%;
  }
}

.typing-animation__video--small {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: inherit;

  video {
    width: 700px;
  }
}

.typing-animation__video--hidden {
  display: none;
}

.typing-animation__video--large {
  margin-top: 80px;
  width: 100%;
}

.typing-animation__images {
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px
}

.typing-animation__arrow-small {
  margin-top: 90px;
}

.typing-animation__arrow-large {
  font-size: 100px;
  margin: auto 0 auto 24px;
}