@import "mixins";

.typing-animation-nav-buttons {
  @include nav-buttons;
}

.typing-animation-transition-name {
  view-transition-name: typing-video;
}

.typing-animation {
  &__video {
    @include video(700px, 80%);
  }

  &__images {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    gap: 16px
  }

  &__arrow-small {
    margin-top: 90px;
  }

  &__arrow-large {
    font-size: 100px;
    margin: auto 0 auto 24px;
  }
}