.button {
  color: white;
  background: var(--theme-red);
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.9em;
  color: var(--red-100);
  transition: background-color 0.2s ease;
}

.button__rounded {
  height: 1.5em;
  width: 1.5em;
  padding: 0.1em;
  border-radius: 9999px;
}

.button:hover {
  background: var(--red-600);
}

.button:disabled {
  background: var(--red-400);
  cursor: default;
}

.button__group {
  display: flex;
  width: 100%;
  gap: 1em;
  margin: 0.75em 0;
}

.button__group--small {
  gap: 0.5em;
}

.button__group--wrap {
  flex-wrap: wrap;
}

.button__group--start {
  justify-items: start;
}
.button__group--center {
  justify-content: center;
}
.button__group--right {
  justify-content: end;
}
