@mixin video($smallWidth, $largeWidth) {
  video {
    object-fit: contain;
    display: block;
    width: 100%;
    border-radius: 10px;
  }

  &--small {
    position: absolute;
    right: var(--slide-padding-inline);
    bottom: var(--slide-padding-block);

    video {
      object-position: right;
      width: $smallWidth;
      max-width: 40vw;
    }
  }

  &--large {
    margin-top: 100px;
    width: $largeWidth;

    video {
      object-position: left;
      max-height: 70vh;
    }
  }
}
