@import-normalize;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/inter.woff2") format("woff2");
  font-named-instance: "Regular";
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("./assets/fonts/inter-italic.woff2") format("woff2");
  font-named-instance: "Italic";
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo;
}

* {
  box-sizing: border-box;
}

:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;

  --purple-100: #e8d3e7;
  --purple-200: #d0a7cf;
  --purple-300: #b97bb7;
  --purple-400: #a14f9f;
  --purple-500: #8a2387;
  --purple-600: #6e1c6c;
  --purple-700: #531551;
  --purple-800: #370e36;
  --purple-900: #1c071b;

  --red-100: #fdecee;
  --red-200: #f6b3bc;
  --red-300: #f28c9a;
  --red-400: #ed6679;
  --red-500: #e94057;
  --red-600: #ba3346;
  --red-700: #8c2634;
  --red-800: #5d1a23;
  --red-900: #170609;

  --orange-100: #fce3d3;
  --orange-200: #fac6a6;
  --orange-300: #f7aa7a;
  --orange-400: #f58d4d;
  --orange-500: #f27121;
  --orange-600: #c25a1a;
  --orange-700: #914414;
  --orange-800: #612d0d;
  --orange-900: #301707;

  --theme-purple: var(--purple-500);
  --theme-red: var(--red-500);
  --theme-orange: var(--orange-500);
  --theme-gradient: linear-gradient(
    265deg,
    var(--theme-purple) 0%,
    var(--theme-red) 50%,
    var(--theme-orange) 100%
  );
  --theme-gradient-secondary: linear-gradient(
    265deg,
    var(--theme-red) 50%,
    var(--theme-orange) 100%
  );
}

body {
  --background-color: var(--slate-900);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: rgb(138, 35, 135);
  background: var(--theme-gradient);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  text-align: center;
  font-size: 3em;
}

a,
a:visited,
code {
  color: white;
  font-weight: 500;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

ol > li::marker {
  font-weight: 400;
  color: var(--slate-400);
}

ul > li::marker {
  color: var(--slate-600);
}

ol {
  list-style-type: decimal;
  padding-left: 1.6em;
  margin: 1.5em 0;
}

li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

ul {
  list-style-type: disc;
  padding-left: 1.6em;
  margin: 1.5em 0;
}

p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
